{% extends "index.html" %}

{% block head %} <title>Book Shelf</title> {% endblock %}

{% block body %}

<h1> Book Library 2.0</h1>
<div class="row">
    <div class="column1">
        <div class="adding_panel">
            <div class="book_addind">
                <h3>New Book</h3>
                <form action="/book" method="post">
                    <p><input type="text" name="title" placeholder="Title..."></p>
                    <p><input type="text" name="genre" placeholder="Genre..."></p>
                    <p><input type="text" name="pages" placeholder="Pages..."></p>
                    <input type="submit" value="Add Book">
                </form>
            </div>
            <div class="author_adding">
                <h3>New Author</h3>
                <form action="/author" method="post">
                    <p><input type="text" name="name" placeholder="Name"></p>
                    <p><input type="text" name="surname" placeholder="Surname"></p>
                    <p><input type="text" name="birth" placeholder="B-Day..."></p>
                    <input type="submit" value="Add Author">
                </form>
            </div>
        </div>
    </div>
    <div class="column2">
        <div class="book_disply">
            <h2>Book shelf</h2>
            <h4>If books title <span style="text-decoration: line-through;">scored off</span>. <br>Book not in stock.
            </h4>
            <table>
                <tr>
                    <th>Author</th>
                    <th>Book</th>
                    <th>Stock</th>
                </tr>
                {% for book in books %}
                {% for author in authors %}
                <tr>
                    <td>{{ author }}</td>
                    <td>{% if book.stock %} <strike> {% endif %}{{ book.title }} {% if book.stock %} </strike>{%
                        endif %}</td>
                    <td>
                        <a href="/in_stock/{{ book.book_id }}">In Stock </a>
                        <br>
                        <a href="/out_stock/{{ book.book_id }}">Out Of Stock </a>
                        <br>
                        <a href="delete/{{ book.book_id }}">Delete Book </a>
                    </td>
                </tr>
                {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}